/* Master CSS styles for all pages */

/* Space Grotesk will be used for headlines and buttons, Outfil will be used for paragraphs. */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

h3, h4, h5, button, p, input, label {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 72px;
  margin-bottom: 10px !important;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

p {
  font-weight: 500;
}

h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blue-text {
  color: #2727E6;
}

/* Buttons */

button {
  border: none;
  padding: 8px 12px;
  margin: 18px 12px 4px 0;
  height: fit-content;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.btn_orange_white_text{
  background: #FF4638;
  color: #FFFFFF;
}

.btn_white_orange_text{
  background: #FFFFFF;
  color: #FF4638;
}

/* Forms */

label {
  font-size: 18px;
}

input {
  margin-top: 0;
  padding: 5px 0 5px 0;
  border-width: 0 0 3px;
  border-color: #2727E6;
  border-radius: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  width: 100%;
  outline: none;
  font-size: 16px;
}

form div p {
  padding: 10px 0;
}

h3.form-subheading {
  margin: 14px 0 6px 0;
}

form div .checkbox-section input[type="checkbox"] {
  width: 35px;
  height: 35px;
  border-width: 10px;
}

form div .checkbox-section {
  display: flex; /* Use Flexbox for the container */
  align-items: center; /* Vertically center items */
}

form div .checkbox-section p {
  margin-left: 8px; /* Add spacing between the checkbox and the text */
}

/* LOGO */
.logo {
  width: 234px;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 18px;
  }

  em {
    padding: 6px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
    font-weight: 700;
  }

  p,
  li {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}