.results-header {
    background-color: #2727E6;
    padding: 30px 30px 30px 50px;
    color: #FFFFFF;
}

.results-logo {
    padding-top: 20px;
}

.data-container {
    width: 80%;
    padding: 20px 30px 20px 50px;
}

.toggle-button {
    margin-left: 50px;
}

.data-container h5 {
    margin-bottom: 0 !important;
}

.data-date {
    padding: 0 30px 0 50px;
    margin-bottom: 0 !important;
}

.graph-container {
    width: 40%;
}